<footer class="col-md-12 text-center bg-black text-white p-3 small">
<p><small>{{metadata.footer.copyrights}} <em>Built with <a href="https://www.11ty.dev/" class="text-white">{{ eleventy.generator }}</a> {{metadata.footer.text1}} <a href="{{metadata.footer.text2_link}}" class="text-white">{{metadata.footer.text2}}</a> </em></p></small></footer>
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
