<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title or metadata.title}}</title>
<!-- connect to domain of font files -->
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Meta Tags -->
<meta content="{{title or metadata.title}}" property="og:title">
<meta content="{{title or metadata.title}}" name="twitter:title">
<meta content="{{title or metadata.title}}" name="title">
<meta content="{{title or metadata.title}}" property="og:site_name">
<meta content="{{description or metadata.description}}" name="description">
<meta content="{{description or metadata.description}}" property="facebook:description">
<meta content="{{description or metadata.description}}" property="og:description">
<meta content="{{description or metadata.description}}" name="twitter:description">
<meta property="twitter:card" content="summary_large_image">
<meta content="{{image or metadata.image}}" name="twitter:image">
<meta content="{{image or metadata.image}}" name="facebook:image">
<meta content="{{image or metadata.image}}" name="og:image">
<meta content="{{metadata.metasocial.facebook}}" property="facebook:author">
<meta content="{{metadata.metasocial.twitteruser}}" property="twitter:author">
<meta content="{{metadata.metasocial.twitter}}" name="twitter:site">
<meta property="og:type" content="website">
<meta name="language" content="{{metadata.language}}">
<meta name="locale" content="{{metadata.locale}}">
<meta property="og:locale" content="{{metadata.locale}}">
<meta name="generator" content="{{ eleventy.generator }}"> 

<!-- link contnet -->
<link href="{{metadata.favicon}}" rel="icon" type="image/x-icon">
<link rel="apple-touch-icon" href="{{metadata.favicon}}">
<link rel="canonical" href="{{metadata.url}}{{page.url}}">
<!-- RSS Feed -->
<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<!-- JSON-LD -->
<script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","description":"{{metadata.description}}","headline":"{{metadata.title}} - {{metadata.description}}","name":"{{metadata.title}}","url":"{{metadata.url}}{{page.url}}"}</script>

<!-- CSS -->
{%- css %}{% include "public/css/index.css" %}{% endcss %}
{%- css %}.bg-black {background-color:black;}h1,h2,h3,h4,h5 {font-size: bold;}.text-big {font-size: 3rem;}.small {font-size:18px;}a {color: black; text-decoration:none;font-size:bold;}@media only screen and (min-width: 600px) {.mobile {display:none;}html,body {
font-size: 1.4rem;}.header-title {padding-top: 105px;font-size:5rem;}.fot{margin-top:-60px;}.btnh {margin-top: -110px;}}@media only screen and (max-width: 600px) {.desktop {display:none;}html,body {font-size: 1.0rem;}.header-title {padding-top: 50px;}.btnh {margin-top: -50px;}.fot{margin-top:-50px;}.text-pag {font-size:20px;}}{% endcss %}
<style>{% getBundle "css" %}</style>{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
<style>@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');html,body {font-family: "Faculty Glyphic", serif;background-image: url("https://wsrv.nl/?url={{metadata.url}}/img/bg.png&output=webp");}h1,h2,h3,h4,h5,.header-title,.nav-title {font-family: "Faculty Glyphic", serif;}html,body {font-family: "Roboto", serif;}</style>
